.menuOption-container {
	display: flex;
	width: 100%;
	padding: 8px 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 0px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.25);
	background: var(--transparent);
	backdrop-filter: blur(100px);
	transition: transform 0.15s ease;
	z-index: 0;

	&.active {
		background: var(--color-primary);
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: #000000a2;
			pointer-events: none;
			z-index: -1;
		}
	}

	.title {
		color: var(--text);
		opacity: 0.75;
		font-weight: 700;
	}

	.description {
		color: var(--text);
		opacity: 0.75;
	}

	&:hover {
		cursor: pointer;
		transform: scale(0.99);

		background: var(--color-primary);
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: #000000a2;
			pointer-events: none;
			z-index: -1;
		}
	}
}
