:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: black;

	--color-primary: #e26821;
	--gray: #8b8585;
	--transparent: rgba(94, 92, 92, 0.185);
	--transparentTags: rgba(0, 0, 0, 0.726);
	--transparentWhite: rgba(255, 255, 255, 0.035);
	--text: #fff;
	--fondoMenu: #0000008e;
	--fondoMenuActive: #0000008e;
	--fondoMensaje: #000000af;
	--fondoSidebar: rgba(255, 255, 255, 0);
	--fondoIcon: rgba(255, 255, 255, 0.264);
	--opacidadFondoIcon: 0.5;
}

.light {
	--gray: #555;
	--transparent: rgba(255, 255, 255, 0.67);
	--transparentTags: rgba(255, 255, 255, 0.8);
	--transparentWhite: rgba(0, 0, 0, 0.05);
	--text: #000;
	--fondoMenu: #9a9a9a54;
	--fondoMenuActive: #c4c3c3a2;
	--fondoMensaje: rgba(255, 255, 255, 0.81);
	--fondoSidebar: #ffffffb0;
	--fondoIcon: #25252543;
	--opacidadFondoIcon: 1;
	background-color: #fff;
}

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	box-sizing: border-box;
}

.fondo {
	display: flex;
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	height: 100%;
	overflow: hidden;
	background: rgba(27, 26, 26, 0.349);
	backdrop-filter: blur(125px);
}

.ellipse {
	width: 216px;
	height: 216px;
	border-radius: 9999px;
	position: absolute;
	opacity: 0.35;
	background: var(--color-primary);

	&.ellipse-1 {
		left: 0;
		top: 0;
	}

	&.ellipse-2 {
		right: 0;
		bottom: 0;
	}
}

.tags {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

button.btn-default {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	border-radius: 8px;
	background: var(--color-primary);
	position: relative;
	overflow: hidden;
	z-index: 0;
	transform-origin: center center;
	transition: transform 0.15s ease;
	width: fit-content;
	padding: 8px 10px;
	font-weight: 600;
	color: var(--color-primary);
	font-size: 1rem;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background: var(--transparentTags);
		pointer-events: none;
		z-index: -1;
		border: none;
		outline: none;
		border-radius: 8px;
	}

	&:hover {
		cursor: pointer;
		transform: scale(0.95);
	}

	&:disabled {
		opacity: 0.2;
	}
}
