:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: black;

	--color-primary: #e26821;
	--gray: #8b8585;
	--transparent: rgba(48, 43, 43, 0.7);
	--text: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	box-sizing: border-box;
}
