.tag-container {
	display: flex;
	padding: 6px 6px;
	align-items: center;
	gap: 8px;
	border-radius: 6px;
	background: var(--color-primary);
	height: 29px;
	position: relative;
	overflow: hidden;
	z-index: 0;
	transform-origin: center center;
	transition: transform 0.15s ease;
	width: fit-content;

	p {
		font-weight: 600;
	}

	color: var(--color-primary);

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background: var(--transparentTags);
		pointer-events: none;
		z-index: -1;
	}

	&:hover {
		cursor: pointer;
		transform: scale(0.95);
	}

	.icon {
		height: 100%;
	}
}
